*ffs_gui
*.pyc
*.npy
*.log
*.lock
*.pkl
*.pt
*.jpg
*.png
*.wav
*.mp3
*__pycache__/*
*.vscode
/TB.lock/
/rc_log/
/ExpData/
/Dataset/
/op/
/op2/
/deepvog_original_model/
/result/
/new/
/models/
/Backup/
